{% extends 'base.html'%}

{% block aside %}
<main>
    <aside>
        <nav>
            <h2>Change Account Info</h2>
            <ul class="col">
                <li><a href="{{ url_for('settings_user')}}">User Id</a></li>
                <li><a href="{{ url_for('settings_pass')}}">Password</a></li>
                <li><a href="{{ url_for('settings_name')}}">Name</a></li>
            </ul>
        </nav>
    </aside>
    {% endblock %}
    {% block main_content %}
    <h3>Change Password</h3>
    <form action="" method="POST" novalidate>
        {{ form_pass.hidden_tag() }}
        {{ form_pass.old_password.label }}
        {{ form_pass.old_password() }}
        {% for error in form_pass.old_password.errors %}
        {{ error }}
        {% endfor %}
        <br />
        {{ form_pass.npassword.label }}
        {{ form_pass.npassword() }}
        {% for error in form_pass.npassword.errors %}
            {{ error }}
        {% endfor %}
        <br />
        {{ form_pass.password2.label }}
        {{ form_pass.password2() }}
        {% for error in form_pass.password2.errors %}
            {{ error }}
        {% endfor %}
        <br />
        {{ form_pass.submit() }}

    </form>
</main>
{% endblock %}